<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="./assets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="./assets/css/bootstrap-grid.css">
    <link rel="stylesheet" type="text/css" href="./assets/css/bootstrap-reboot.css">
    <link rel="stylesheet" type="text/css" href="./assets/css/pos.css">
    <title>Login</title>
</head>
<body>


<div class="container-fluid h-100">
    <div class="row justify-content-center align-items-center h-100">
        <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Login</h3>
                </div>
                <form th:action="@{/perform_login}" method="post" role="form">
                    <div th:if="${param.error}">
                        <div class="alert alert-danger">Invalid username or
                            password.
                        </div>
                    </div>
                    <div th:if="${param.logout}">
                        <div class="alert alert-info">You have been logged out.</div>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <input type="text"
                                   id="username" name="username" class="form-control"
                                   autofocus="autofocus" placeholder="Username"/>
                        </div>
                        <div class="form-group">
                            <input type="password"
                                   id="password" name="password" class="form-control"
                                   placeholder="Password"/>
                        </div>
                        <div class="form-group">
                            <a href="/" th:href="@{/forgot-password}">Forgot Password</a>
                            <button class="btn btn-info float-right" type="submit" name="login-submit"
                                    id="login-submit">Login
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="./assets/js/jquery-3.4.1.js"></script>
</body>
</html>